.gretting_name {
  font-size: 25px;
  border: 1px;
  padding: 10px 15px;

  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */

  background: none;
  border-bottom: 2px solid black;

  /* width: 100%; */
}
/* input ::-moz-placeholder {
  color: violet;
  font-size: 100px;
} */
.form,
.grettingNone {
  display: none;
}

.grettings_result.showing {
  font-size: 26px;
  /* font-weight: bold; */
  margin-bottom: 30px;
  color: white;
  justify-content: center;
  line-height: 30px;
}

/* 보여졋을 때 */
.showing {
  /* font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white; */
  display: flex;
}
.gretting.form.showing {
  justify-content: center;
  margin-bottom: 30px;
}
