.gretting_name {
  font-size: 25px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  background: none;
  color: black;
  /* width: 100%; */
}
.gretting_name ::placeholder {
  color: black;
}
.form,
.grettingNone {
  display: none;
}

.grettings_result.showing {
  font-size: 26px;
  /* font-weight: bold; */
  margin-bottom: 30px;
  color: white;
}

/* 보여졋을 때 */
.showing {
  /* font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white; */
  display: block;
}
